
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

*{
  font-family: "Raleway", sans-serif!important;
}
body {
  background-color: black;
}

.body-container {
  background-image: radial-gradient(circle at var(--x) var(--y), var(--color1) 0%, var(--color2) var(--position2)), url('assets/gorilla-bg-min.jpg');
  background-position: center top;
  background-size: cover;
}